html {
    background-color: #00539f;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif; 
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

figcaption {
    text-align: center;
}

#heading{
    color: blue;
}

.popular {
    border-style: dotted;
    border-width: 4px;
    border-color: red;
}

@media only screen and (min-width: 320px) 
and (max-width: 568px) {
    * {
        box-sizing: border-box;
    }

    body {
        width: 250px  
    }

    h1 {
        font-size: 20px;
    }
}

@media (orientation: landscape) and (min-width: 320px) 
and (max-width: 568px) {
    * {
        box-sizing: border-box;
    }

    body {
        width: 400px  
    }

    h1 {
        font-size: 32px;
    }
}

@media only screen and (min-width: 768px) 
and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    body {
        width: 650px;
    }

    h1 {
        font-size: 60px;
    }
    p {
        font-size: 40px;
    }
    li {
        font-size: 32px;
    }
    figcaption {
        font-size: 18px;
    }
}

@media (orientation: landscape) and (min-width: 768px) 
and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    body {
        width: 950px;
    }

    h1 {
        font-size: 60px;
    }
    p {
        font-size: 36px;
    }
    figcaption {
        font-size: 28px;
    }
}